@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Lato');

@import "_properties.scss";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  color: #fff;
  background-color: $background;
  height: 100%;
  max-width: 100%;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}

/**
 * Helpers
 */
.box {
  padding: 1rem;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@import "avatar.scss";
@import "button.scss";
@import "colors.scss";
@import "display.scss";
@import "hr.scss";
@import "img.scss";
@import "inputs.scss";
@import "margin.scss";
@import "padding.scss";
@import "paragraph.scss";
@import "position.scss";
@import "progress.scss";