@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  color: #fff;
  background-color: #111;
  height: 100%;
  max-width: 100%;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}

/**
 * Helpers
 */
.box {
  padding: 1rem;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.avatar {
  height: 50px;
  min-height: 50px;
  width: 50px;
  min-width: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin-right: 15px;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.author > summary {
  list-style: none;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

button {
  color: #111;
  border: none;
  background-color: #fff;
  padding: 0.5rem 1.75rem;
  border-radius: 3px;
  margin-bottom: 1rem;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}

button:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

button:active {
  background-color: #bebebe;
}

/**
 * Coloration
 */
.grey {
  color: #ccc;
}

.red {
  color: #ff9090;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

hr {
  margin: 2rem 3px;
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

img {
  max-width: 100%;
}
img.framed {
  border-radius: 3px;
}

/**
 * Inputs
 */
label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 0.75rem;
}

input,
select,
textarea {
  height: 36px;
  width: 100%;
  color: #111;
}

input:not([type]),
input[type=text],
input[type=email],
input[type=password],
input[type=number],
select,
textarea {
  border: none;
  border-radius: 3px;
  padding: 8px 5px;
  background-color: #fff;
}
input:not([type])[readonly],
input[type=text][readonly],
input[type=email][readonly],
input[type=password][readonly],
input[type=number][readonly],
select[readonly],
textarea[readonly] {
  background-color: rgba(255, 255, 255, 0.7);
  cursor: default;
  caret-color: transparent;
}

input[type=range] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  margin: 0;
  padding: 0;
  /**
  * Range thumb
  */
  /**
   * Range track
   */
}
input[type=range]::-ms-thumb {
  height: 22px;
  width: 16px;
  cursor: pointer;
  background-color: #404040;
  border: none;
  border-radius: 0;
}
input[type=range]::-moz-range-thumb {
  height: 22px;
  width: 16px;
  cursor: pointer;
  background-color: #404040;
  border: none;
  border-radius: 0;
}
input[type=range]::-webkit-slider-thumb {
  height: 22px;
  width: 16px;
  cursor: pointer;
  background-color: #404040;
  border: none;
  border-radius: 0;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
}
input[type=range]::-ms-thumb {
  appearance: none;
}
input[type=range]:focus::-ms-thumb {
  border: none;
}
input[type=range]::-ms-track {
  height: 22px;
  width: 100%;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-radius: 3px;
}
input[type=range]::-moz-range-track {
  height: 22px;
  width: 100%;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 22px;
  width: 100%;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-radius: 3px;
}
input[type=range]::-ms-track {
  background: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #fff;
  border-radius: 3px;
}
input[type=range]::-ms-fill-upper {
  background: #fff;
  border-radius: 3px;
}

/**
 * Textarea
 */
textarea {
  min-height: 120px;
  resize: vertical;
}

/**
 * Margin helpers
 */
.m-0 {
  margin: 0px;
}

.m-1 {
  margin: 5px;
}

.m-2 {
  margin: 10px;
}

.m-3 {
  margin: 15px;
}

.m-4 {
  margin: 20px;
}

.m-5 {
  margin: 25px;
}

.m-6 {
  margin: 30px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-4 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 25px;
}

.mt-6 {
  margin-top: 30px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-4 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 25px;
}

.mb-6 {
  margin-bottom: 30px;
}

.mr-0 {
  margin-right: 0px;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 15px;
}

.mr-4 {
  margin-right: 20px;
}

.mr-5 {
  margin-right: 25px;
}

.mr-6 {
  margin-right: 30px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-1 {
  margin-left: 5px;
}

.ml-2 {
  margin-left: 10px;
}

.ml-3 {
  margin-left: 15px;
}

.ml-4 {
  margin-left: 20px;
}

.ml-5 {
  margin-left: 25px;
}

.ml-6 {
  margin-left: 30px;
}

/**
 * Padding helpers
 */
.p-0 {
  padding: 0px;
}

.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 15px;
}

.p-4 {
  padding: 20px;
}

.p-5 {
  padding: 25px;
}

.p-6 {
  padding: 30px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-1 {
  padding-top: 5px;
}

.pt-2 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 15px;
}

.pt-4 {
  padding-top: 20px;
}

.pt-5 {
  padding-top: 25px;
}

.pt-6 {
  padding-top: 30px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pb-4 {
  padding-bottom: 20px;
}

.pb-5 {
  padding-bottom: 25px;
}

.pb-6 {
  padding-bottom: 30px;
}

.pr-0 {
  padding-right: 0px;
}

.pr-1 {
  padding-right: 5px;
}

.pr-2 {
  padding-right: 10px;
}

.pr-3 {
  padding-right: 15px;
}

.pr-4 {
  padding-right: 20px;
}

.pr-5 {
  padding-right: 25px;
}

.pr-6 {
  padding-right: 30px;
}

.pl-0 {
  padding-left: 0px;
}

.pl-1 {
  padding-left: 5px;
}

.pl-2 {
  padding-left: 10px;
}

.pl-3 {
  padding-left: 15px;
}

.pl-4 {
  padding-left: 20px;
}

.pl-5 {
  padding-left: 25px;
}

.pl-6 {
  padding-left: 30px;
}

p {
  white-space: pre-line;
  text-align: justify;
  text-justify: inter-word;
}

/**
 * Position helpers
 */
.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

progress {
  height: 20px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}
progress[value] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  color: #fff;
}
progress[value]::-moz-progress-bar {
  border-radius: 3px;
  background-color: #fff;
}
progress[value]::-webkit-progress-value {
  border-radius: 3px;
  background-color: #fff;
}
progress[value]::-webkit-progress-bar {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

/*# sourceMappingURL=acacia.css.map */
