@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  color: #fff;
  background-color: #111;
  height: 100%;
  max-width: 100%;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

p {
  white-space: pre-line;
  text-align: justify;
  text-justify: inter-word;
}

button {
  color: #000;
  border: none;
  background-color: #fff;
  padding: 0.5rem 1.75rem;
  border-radius: 3px;
  margin-bottom: 1rem;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

button:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

button:active {
  background-color: #bebebe;
}

progress {
  height: 20px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

progress[value] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: none;
  
  color: #fff;
}

progress[value]::-moz-progress-bar {
  border-radius: 3px;
  background-color: #fff;
}


progress[value]::-webkit-progress-value {
  border-radius: 3px;
  background-color: #fff;
}

progress[value]::-webkit-progress-bar {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

hr {
  margin: 2rem 3px;
  border: none;
  height: 1px;
  background-color: rgb(255, 255, 255, 0.2);
}

label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 0.75rem;
}

/**
 * Inputs
 */
input,
select,
textarea {
  width: 100%;
  color: #000;
}

input:not([type]),
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select,
textarea {
  border: none;
  border-radius: 3px;
  padding: 8px 5px;
  background-color: #fff;
}

input[readonly]:not([type]),
input[readonly][type="text"],
input[readonly][type="email"],
input[readonly][type="password"],
input[readonly][type="number"],
select[readonly],
textarea[readonly] {
  background-color: rgb(255, 255, 255, 0.70);
}

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: transparent;
  margin: 0;
  padding: 0;
}

/**
 * Range thumb
 */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 22px;
  width: 16px;
  border: none;
  background-color: #404040;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 22px;
  width: 16px;
  border: none;
  border-radius: 0;
  background-color: #404040;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  height: 22px;
  width: 16px;
  background-color: #404040;
  cursor: pointer;
}

input[type=range]:focus::-ms-thumb {
  border: none;
}

/**
 * Range track
 */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 22px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 3px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 22px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 3px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 22px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: transparent;
  border-radius: 3px;
}

input[type=range]::-ms-fill-lower {
  background: #fff;
  border-radius: 3px;
}

input[type=range]::-ms-fill-upper {
  background: #fff;
  border-radius: 3px;
}

/**
 * Textarea
 */
textarea {
  min-height: 120px;
  resize: vertical;
}

/**
 * Images
 */
img {
  max-width: 100%;
}

img.framed {
  border-radius: 3px;
}

.avatar {
  height: 50px;
  min-height: 50px;
  width: 50px;
  min-width: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin-right: 15px;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.author > summary {
  list-style: none;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/**
 * Helpers
 */
.box {
  padding: 1rem;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


/**
 * Position helpers
 */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

/**
 * Coloration
 */
.grey {
  color: #ccc;
}

.red {
  color: #ff9090;
}

/**
 * Displaying class
 */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}